button{
    border: none;
    width: 100%;
    margin-top: 20px;
    &:hover{
        cursor: pointer;
    }
}
.btn{
    padding: 10px 20px;
    background-color: $primary;
    color: $netral;
    text-decoration: none;
    display: inline-block;

    &-primary{
        padding: 8px 30px;
        border-radius: 30px;
        transition: .3s;
        color: $dark;
        &:hover{
            background-color: $primary;
        }
        @media screen and (max-width: 650px) {
            font-size: 14px;
        }
    }
    &-line{
        background: none;
        padding: 8px 30px;
        border: 1px solid $primary;
        color: $netral;
        border-radius: 30px;
        text-decoration: none;
        display: inline-block;
    }

    &-search{
        border-radius: 20px;
        padding: 8px 25px;
    }
    &-text{
        padding: 10px 0;
        background: none;
        color: $primary;
        border-bottom: 1px solid $primary;
    }
}