.card {
  // box-shadow: 6px 11px 41px -28px #796eb1;
  align-items: center;
  background-image: linear-gradient(180deg,rgba(117,255,255,.26),rgba(18,46,94,0) 92.32%);
  border-radius: 30px;
  box-sizing: border-box;
  padding: 0 40px;
  transition: all .3s linear;
}
.card-wrap{
  display: flex;
}
.card-body{
  padding: 20px;
  color: $secondary;
  span{
    font-weight: 500;
  }
}
